*{
	box-sizing: border-box;
}
body{
	font-family: Comic Sans MS, Comic Sans, cursive;
}
header{
	margin-top: -20px;
	margin-bottom: 0;
	width: 100%;
	height: 70px;
	background-color: #999999;
	border-bottom: 3px solid black;

}
header a:hover{
	text-decoration: none;
}
h1{
	margin-left: 30px;
	font-size: 2em;
	font-weight: bold;
	color: #000;
}
h2{
	margin-top: 30px;
	margin-bottom: 55px;
}
.text{
	text-align: justify;
}
#SubTitle a{
	color: black;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
}
#collapsable-nav{
	background-color: #999999;
	border-bottom: 3px solid black;
}
.navbar-header button.navbar-toggle{
	border: 3px solid black;
	margin-top: -20px;
	width: 30px;
	height: 30px;
}
.navbar-header button:hover{
	background-color: whitesmoke;
}
.navbar-header button.navbar-toggle{
	clear: both;
}
#nav-list a{
	text-align: center;
	color: black;
	font-weight: bold;
}
/*LARGE SCREEN*/
@media(min-width: 998px){
	.row div#boxes{
		width: 31%;
		height: 1200px;
		margin: 10px 10px 10px 10px;
		background-color: #999999;
	}
}
/*MEDIUM SCREEN*/
@media(min-width: 768px) and (max-width: 998px){
	.row #boxes:nth-child(1){
		width: 47%;
		float: left;
		padding: 10px;
		margin: 10px 10px 10px 10px;
		background-color: #999999;
	}
	.row #boxes:nth-child(2){
		width: 47%;
		padding: 10px;
		margin: 10px 10px 10px 10px;
		background-color: #999999;
	}
	.row #boxes:nth-child(3){
		width: 96.4%;
		padding: 10px;
		margin: 10px 10px 10px 10px;
		background-color: #999999;
	}
}
/*EXTRA-SMALL SCREENS*/
@media(min-width: 479px) and (max-width: 768px){
	.row div#boxes{
		width: 96.4%;
		margin: 10px 10px 10px 10px;
		background-color: #999999;
	}
}
/*SUPER-EXTRA-SMALL SCREENS*/
@media(max-width: 479px){
	.row div#boxes{
		width: 96.4%;
		margin: 10px 10px 10px 10px;
		background-color: #999999;
	}
}